header {
    justify-content: space-between;
}
.for-hackers {
    font-family: "Monogram", monospace;
    background-color: #5624ed;
    padding: .2rem .4rem;
    margin-left: 1rem;
    color: #EEE;
    font-size: 1.2rem;
    text-transform: uppercase;
}
#menu-container {
    text-align: center;
}
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 94vh;
}
section {
    flex-grow: 1;
    height: 94vh;
}
#editor-container {
    width: 50vw;
}
#editor {
    font-family: monospace;
    font-size: 1.3rem;
}
div#editor .cm-editor {
    overflow: auto;
    height: 84vh;
}
div#editor .cm-editor .cm-content {
    padding: .7rem 0;
    margin: 0 .7rem;
}
button#run {
    height: 10vh;
    background-color: #5624ed;
    border-width: 0;
    width: 100%;
    cursor: pointer;
    color: #FFF;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: "Monogram", monospace;
    transition: filter .2s;
}
button#run:hover {
    filter: brightness(120%);
}
#header-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
#header-buttons-container button {
    font-family: "Monogram", monospace;
    color: #5624ed;
    padding: .2rem .4rem;
    margin-left: 1rem;
    background-color: #EEE;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: -2px 2px 0 #5624ed;
    transition: transform .2s;
}
#header-buttons-container button:active {
    box-shadow: none;
    transform: translate(-2px, 2px);
}
#header-buttons-container button#load-code {
    color: #EEE;
    background-color: #5624ed;
    box-shadow: -2px 2px 0 #c5b6f2;
}
#header-buttons-container button#load-code:active {
    box-shadow: none;
}
#viewer-container {
    display: flex;
    width: 50vw;
    position: relative;
}
#click-run {
    position: absolute;
    width: 100%;
    top: 3rem;
    text-align: center;
    left: 0;
    background-color: #1B1B1B;
    color: #EEE;
    font-size: 2rem;
    font-family: 'Monogram';
}
#click-run .run-wording {
    color: #5624ed;
    text-transform: uppercase;
}
#viewer {
    height: 94vh;
    flex-grow: 1;
    border-width: 0;
    background-color: #1B1B1B;
}
.hidden {
    display: none !important;
}
::backdrop {
    background-color: #000;
    opacity: .7;
}
.builder-options-dialog {
    border: 1px solid #5624ed;
}
.builder-options-dialog-close {
    float: right;
    border: none;
    background-color: transparent;
    color: #c5b6f2;
    font-size: 1.2rem;
    cursor: pointer;
}
#maps-dialog {
    background-color: #1B1B1B;
}
.builder-options-grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
}
.builder-options-grid li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem 2.5rem;
}
.builder-options-grid li img {
    width: 200px;
    margin-bottom: 1rem;
}
.builder-options-grid li span {
    font-family: monospace;
    color: #FFF;
    font-size: 1rem;
}
#enemies-dialog {
    background-color: #6e687b;
}
#enemies-dialog .builder-options-dialog-close {
    color: #FFF;
}
#enemies-dialog .builder-options-grid li img {
    width: auto;
}
#enemies-dialog .builder-options-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}